@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
    color: rgb(10, 19, 20);
    padding: 0;
    margin: 0;
}

html {
    background: rgb(66, 130, 141);
}

h1 {
    font-size: 10rem;
    font-weight: 800;
    margin: 5rem 0;
}

form {
    padding: 1rem;
}

input, button {
    font-size: 5rem;
    border: none;
    border-radius: 0.2rem;
    width: 100%;
    padding: 0.5rem 0.2rem;
}

input {
    text-align: initial;
    margin-bottom: 1rem;
}

button {
    margin-bottom: 5rem;
    font-weight: 800;
}
